@import url(http://fonts.googleapis.com/css?family=Unica+One)
// @import url(http://fonts.googleapis.com/css?family=Kreon:400,700,300)
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700)
// @import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic)

@import url(http://fonts.googleapis.com/css?family=Lekton:400,400italic,700)

// font combinations: http://www.briangardner.com/google-font-combinations
// 1: Merriweather and News Cycle
// @import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900)
// @import url(http://fonts.googleapis.com/css?family=News+Cycle:400,700)
// 2: Arvo and PT Sans
// @import url(http://fonts.googleapis.com/css?family=Arvo:400,400italic,700italic,700)
// @import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic)

@font-face
  font-family: 'OpenSansLight'
  src: url('OpenSans-Light-webfont.eot')
  src: url('OpenSans-Light-webfont.eot?#iefix') format("embedded-opentype"), url('OpenSans-Light-webfont.woff') format("woff"), url('OpenSans-Light-webfont.ttf') format("truetype"), url('OpenSans-Light-webfont.svg#OpenSansLight') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSansLightItalic'
  src: url('OpenSans-LightItalic-webfont.eot')
  src: url('OpenSans-LightItalic-webfont.eot?#iefix') format("embedded-opentype"), url('OpenSans-LightItalic-webfont.woff') format("woff"), url('OpenSans-LightItalic-webfont.ttf') format("truetype"), url('OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSansRegular'
  src: url('OpenSans-Regular-webfont.eot')
  src: url('OpenSans-Regular-webfont.eot?#iefix') format("embedded-opentype"), url('OpenSans-Regular-webfont.woff') format("woff"), url('OpenSans-Regular-webfont.ttf') format("truetype"), url('OpenSans-Regular-webfont.svg#OpenSansRegular') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSansItalic'
  src: url('OpenSans-Italic-webfont.eot')
  src: url('OpenSans-Italic-webfont.eot?#iefix') format("embedded-opentype"), url('OpenSans-Italic-webfont.woff') format("woff"), url('OpenSans-Italic-webfont.ttf') format("truetype"), url('OpenSans-Italic-webfont.svg#OpenSansItalic') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSansSemibold'
  src: url('OpenSans-Semibold-webfont.eot')
  src: url('OpenSans-Semibold-webfont.eot?#iefix') format("embedded-opentype"), url('OpenSans-Semibold-webfont.woff') format("woff"), url('OpenSans-Semibold-webfont.ttf') format("truetype"), url('OpenSans-Semibold-webfont.svg#OpenSansSemibold') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSansSemiboldItalic'
  src: url('OpenSans-SemiboldItalic-webfont.eot')
  src: url('OpenSans-SemiboldItalic-webfont.eot?#iefix') format("embedded-opentype"), url('OpenSans-SemiboldItalic-webfont.woff') format("woff"), url('OpenSans-SemiboldItalic-webfont.ttf') format("truetype"), url('OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSansBold'
  src: url('OpenSans-Bold-webfont.eot')
  src: url('OpenSans-Bold-webfont.eot?#iefix') format("embedded-opentype"), url('OpenSans-Bold-webfont.woff') format("woff"), url('OpenSans-Bold-webfont.ttf') format("truetype"), url('OpenSans-Bold-webfont.svg#OpenSansBold') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSansBoldItalic'
  src: url('OpenSans-BoldItalic-webfont.eot')
  src: url('OpenSans-BoldItalic-webfont.eot?#iefix') format("embedded-opentype"), url('OpenSans-BoldItalic-webfont.woff') format("woff"), url('OpenSans-BoldItalic-webfont.ttf') format("truetype"), url('OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSansExtrabold'
  src: url('OpenSans-ExtraBold-webfont.eot')
  src: url('OpenSans-ExtraBold-webfont.eot?#iefix') format("embedded-opentype"), url('OpenSans-ExtraBold-webfont.woff') format("woff"), url('OpenSans-ExtraBold-webfont.ttf') format("truetype"), url('OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'OpenSansExtraboldItalic'
  src: url('OpenSans-ExtraBoldItalic-webfont.eot')
  src: url('OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format("embedded-opentype"), url('OpenSans-ExtraBoldItalic-webfont.woff') format("woff"), url('OpenSans-ExtraBoldItalic-webfont.ttf') format("truetype"), url('OpenSans-ExtraBoldItalic-webfont.svg#OpenSansExtraboldItalic') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'Entypo'
  src: font-url('entypo/entypo.eot')
  src: url(font-path('entypo/entypo.eot') + "?#iefix") format('embedded-opentype'), font-url('entypo/entypo.woff') format('woff'), font-url('entypo/entypo.ttf') format('truetype'), url(font-path('entypo/entypo.svg') + "#Entypo") format('svg')
  font-weight: normal
  font-style: normal

.icon
  font-family: 'Entypo'
  display: inline-block
  &.music:before
    content: "♪"
  &.music-alt:before
    content: "🎵"
  &.search:before
    content: "🔍"
  &.search-alt:before
    content: "🔎"
  &.mail:before
    content: "✉"
  &.heart:before
    content: "♥"
  &.heart-empty:before
    content: "♡"
  &.star:before
    content: "★"
  &.star-empty:before
    content: "☆"
  &.user:before
    content: "👤"
  &.users:before
    content: "👥"
  &.user-add:before
    content: ""
  &.video:before
    content: "🎬"
  &.picture:before
    content: "🌄"
  &.camera:before
    content: "📷"
  &.th:before
    content: "⚏"
  &.th-list:before
    content: "☰"
  &.ok:before
    content: "✓"
  &.cancel:before
    content: "✕"
  &.cancel-circle:before
    content: "✖"
  &.plus:before
    content: "+"
  &.plus-circle:before
    content: "➕"
  &.minus:before
    content: "-"
  &.minus-circle:before
    content: "➖"
  &.help:before
    content: "❓"
  &.help-circle:before
    content: ""
  &.info:before
    content: "ℹ"
  &.info-circle:before
    content: ""
  &.back:before
    content: ""
  &.back-alt:before
    content: ""
  &.home:before
    content: "⌂"
  &.link:before
    content: "🔗"
  &.attach:before
    content: "📎"
  &.lock:before
    content: "🔒"
  &.lock-open:before
    content: "🔓"
  &.eye:before
    content: ""
  &.tag:before
    content: ""
  &.bookmark:before
    content: "🔖"
  &.flag:before
    content: "⚑"
  &.thumbs-up:before
    content: "👍"
  &.download:before
    content: "📥"
  &.upload:before
    content: "📤"
  &.upload-cloud:before
    content: ""
  &.reply:before
    content: ""
  &.reply-up:before
    content: ""
  &.reply-all:before
    content: ""
  &.forward:before
    content: "➦"
  &.quote-right:before
    content: "❞"
  &.code:before
    content: ""
  &.export:before
    content: ""
  &.pencil:before
    content: "✎"
  &.feather:before
    content: "✒"
  &.print:before
    content: ""
  &.retweet:before
    content: ""
  &.keyboard:before
    content: "⌨"
  &.comment:before
    content: ""
  &.chat:before
    content: ""
  &.bell:before
    content: "🔔"
  &.attention:before
    content: "⚠"
  &.vcard:before
    content: ""
  &.address:before
    content: ""
  &.location:before
    content: ""
  &.map:before
    content: ""
  &.direction:before
    content: "➢"
  &.compass:before
    content: ""
  &.trash:before
    content: ""
  &.doc:before
    content: ""
  &.docs:before
    content: ""
  &.docs-landscape:before
    content: ""
  &.doc-text:before
    content: "📄"
  &.book-open:before
    content: "📖"
  &.folder:before
    content: "📁"
  &.archive:before
    content: ""
  &.rss:before
    content: ""
  &.phone:before
    content: "📞"
  &.cog:before
    content: "⚙"
  &.share:before
    content: ""
  &.basket:before
    content: ""
  &.calendar:before
    content: "📅"
  &.mic:before
    content: "🎤"
  &.volume-off:before
    content: "🔇"
  &.volume-up:before
    content: "🔊"
  &.volume:before
    content: ""
  &.clock:before
    content: "🕔"
  &.hourglass:before
    content: "⏳"
  &.lamp:before
    content: "💡"
  &.light-down:before
    content: "🔅"
  &.light-up:before
    content: "🔆"
  &.block:before
    content: "🚫"
  &.resize-full:before
    content: ""
  &.resize-small:before
    content: ""
  &.popup:before
    content: ""
  &.publish:before
    content: ""
  &.window:before
    content: ""
  &.arrow-combo:before
    content: ""
  &.down-circle2:before
    content: ""
  &.left-circle2:before
    content: ""
  &.right-circle2:before
    content: ""
  &.up-circle2:before
    content: ""
  &.down-open:before
    content: ""
  &.left-open:before
    content: ""
  &.right-open:before
    content: ""
  &.up-open:before
    content: ""
  &.down-thin:before
    content: "⬇"
  &.left-thin:before
    content: "⬅"
  &.right-thin:before
    content: "➡"
  &.up-thin:before
    content: "⬆"
  &.down-dir:before
    content: "▾"
  &.left-dir:before
    content: "◂"
  &.right-dir:before
    content: "▸"
  &.up-dir:before
    content: "▴"
  &.down-bold:before
    content: ""
  &.left-bold:before
    content: ""
  &.right-bold:before
    content: ""
  &.up-bold:before
    content: ""
  &.down:before
    content: "↓"
  &.left:before
    content: "←"
  &.right:before
    content: "→"
  &.up:before
    content: "↑"
  &.ccw:before
    content: "⟲"
  &.cw:before
    content: "⟳"
  &.level-down:before
    content: "↳"
  &.shuffle:before
    content: "🔀"
  &.play:before
    content: "▶"
  &.stop:before
    content: "▪"
  &.pause:before
    content: "⎉"
  &.record:before
    content: "⚫"
  &.to-end:before
    content: "⏭"
  &.to-start:before
    content: "⏮"
  &.fast-fw:before
    content: "⏩"
  &.fast-bw:before
    content: "⏪"
  &.progress-0:before
    content: ""
  &.progress-1:before
    content: ""
  &.progress-2:before
    content: ""
  &.progress-3:before
    content: ""
  &.target:before
    content: "🎯"
  &.palette:before
    content: "🎨"
  &.list-add:before
    content: ""
  &.signal:before
    content: ""
  &.top-list:before
    content: "🏆"
  &.battery:before
    content: "🔋"
  &.back-in-time:before
    content: ""
  &.monitor:before
    content: "💻"
  &.mobile:before
    content: "📱"
  &.net:before
    content: ""
  &.cd:before
    content: "💿"
  &.inbox:before
    content: ""
  &.install:before
    content: ""
  &.globe:before
    content: "𝌍"
  &.cloud:before
    content: "☁"
  &.flash:before
    content: "⚡"
  &.moon:before
    content: "☽"
  &.flight:before
    content: "✈"
  &.leaf:before
    content: "🍂"
  &.lifebuoy:before
    content: ""
  &.mouse:before
    content: ""
  &.bag:before
    content: ""
  &.dot:before
    content: ""
  &.dot-2:before
    content: ""
  &.dot-3:before
    content: ""
  &.google-circles:before
    content: ""
  &.cc:before
    content: ""
  &.logo-entypo:before
    content: ""
  &.flag-sw:before
    content: ""
  &.logo-db:before
    content: ""
  &.megaphone:before
    content: "📣"
