%h1 Galleries

= link_to new_admin_gallery_path, class: 'btn btn-success' do
  %span.icon.plus
  Add Gallery

%br
%br

%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Title
      %th Images
  %tbody
    - @galleries.each do |gallery|
      %tr
        %td= link_to gallery.title, admin_gallery_path(gallery)
        %td= gallery.images.size
