.l-content-container
  margin: 0 auto
  width: 980px

.l-head
  +pie-clearfix
  +border-bottom-left-radius(5px)
  +border-bottom-right-radius(5px)
  background: #111
  margin-bottom: 2*$padding
  padding: $padding $padding 0
