.l-navigation
  +pie-clearfix
  line-height: 43px
  position: relative
  top: -10px
  color: #999
  text-transform: uppercase
  > ul
    list-style-type: none
    margin: 0
    +pie-clearfix
    > li
      float: left
      margin-right: 30px
      &:last-child
        margin-right: 0
      > a
        color: inherit
        font-family: 'OpenSansLight'
        font-size: 13px
        &:hover
          text-decoration: underline
          color: #eee
